#friend-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: green;
    padding: 10%;
    color: white;
    border-radius: 3%;
}

.card-info {
    text-align: center;
    font-weight: 800;
    font-size: 1.2em;
}

#list-items {
    text-transform: capitalize;
    font-weight: 500;
    padding-top: 3%;
    padding-bottom: 3%;
    color: gold;
}